@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.fag-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fag, .fag-active{
    position: relative;
    display: flex;
    align-items: center;

    width: 550px;
    height: 70px;
    background-color: rgb(218, 214, 218);
    border-radius: 5px;
    margin-bottom: 10px;
}


.fag-title{
    padding-left: 15px;
}

.fag-text {
    display: none;
}

.fag-toggle {
    position: absolute;
    right: 10px;
    top: 35%;
}